* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #000;
}

.main {
  width: 320px;
  height: 620px;
  margin: 100px auto 0;
  border: 10px solid silver;
  font-size: 0;
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid silver;
  display: inline-block;
}

.movingCell {
  background-color: blue;
}

.fixedCell {
  background-color: green;
}
